
/* Broad, far-reaching stylings */

* {box-sizing: border-box;}

:root {
  --background-color: #000000; /* black */
  --text-color: #87cefa; /* light blue */
  --background-color-2: #ffa500; /*orange*/
  --text-color-2: #000000; /* black, for text on background-color-2 */
  --grid-box-background-color: #162626; /* dark slate */
  --link-color: #00ff00; /* lime */
  --link-visited-color: #dda0dd; /* plum */
  --link-active-color: #aa2266; /*violet*/

  --primary-font: 'Ubuntu';
  --secondary-font: 'Roboto Mono';
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--primary-font), sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  line-height: 1.4;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 1.625em;
  font-weight: var(--font-weight-bold);
}

h2 {
  text-align: center;
  font-size: 1.375em;
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: 1.125em;
  font-weight: var(--font-weight-bold);
}

a {color: var(--link-color);}
a:visited {color: var(--link-visited-color);}
a:hover, a:focus {text-decoration: none;}
a:active {color: var(--link-active-color);}


/*More specific, but still affecting multiple pages*/

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.social-media__icon {margin: 0px 5px;}

.page-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
}

.page-header__item {flex: 0 1 200px;}

.page-header__item:last-child {flex-grow: 1;}

.site-navigation {
  white-space: nowrap;
  text-align: right;
}

.site-navigation__item {margin: 0px 10px;}

a.button, button {
  display: inline-block;
  font-family: inherit;
  background-color: var(--background-color-2);
  font-size: 0.875em;
  color: var(--text-color-2);
  text-decoration: none;
  padding: 5px;
  margin: 3px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  transition: opacity 0.2s;
}
.button:hover, .button:focus, button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}

/* Highly specific stylings, often pseudo-ids, i.e. specifiers that target only one element.*/

/* For work.html */

/* Fallback for grid */
.projects__item {
  display: inline-block;
  width: 33%
}
/* End of fallback */

@supports (display: grid) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .projects__item {
    background-color: var(--grid-box-background-color);
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 10px;
  }
}

/* For about.html */

.occupational-skills {margin-top:30px;}

.occupational-skills__table {
  font-family: var(--secondary-font), monospace;
  margin: auto;
}

td, th {padding: 0px 10px;}

.city-image {
  margin-top: 50px;
  text-align: right;
}

.attribution {font-size: 0.875em;}

@keyframes color-change {
  from {fill: #ff9900;}
  to {fill: #ffff66;}
}

@keyframes plane-move {
  from {transform: translateX(5000px);}
  to {transform: translateX(-5000px);}
}


@keyframes cloud1-move {
  from {transform: translateX(0px);}
  to {transform: translateX(8000px);}
}

@keyframes cloud2-move {
  from {transform: translateX(0px);}
  to {transform: translateX(7700px);}
}

@keyframes cloud3-move {
  from {transform: translateX(0px)}
  to {transform: translateX(8000px)}
}

.sun {animation: color-change 8s linear infinite alternate;}

.plane {animation: plane-move 20s linear infinite normal;}


.cloud1 {
  animation: cloud1-move 60s linear infinite normal;
  animation-delay: 39s;
}

.cloud2 {
  animation: cloud2-move 60s linear infinite normal;
  animation-delay: 24s;
}

.cloud3 {animation: cloud3-move 60s linear infinite normal;}

/* For index.html */

.profile{
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  max-width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

/* For contact.html */

.contact-page__body{
  max-width: 620px;
  margin: auto;
}

.communication {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px
}

.communication__feedback {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 20px
}

.feedback__label {margin-top: 20px;}

.feedback__submit-button {
  flex-grow: 0;
  margin-top: 5px;
  align-self: center;
}


@media all and (max-width: 500px) {
  h1 {font-size: 1.375em;}
  h2 {font-size: 1.125em;}
  h3 {font-size: 1em;}

  .projects {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .profile__portrait {
    float: none;
    display: block;
    margin: auto;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .projects {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
